<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>RFID Reader</title>
</head>
<body>
	<h1>Connect to RFID Reader</h1>
	<br>
	<label for="connectType">Connection Type:</label>
	<select id="connectType">
		<option value="USB">USB</option>
	</select>
	<br>
	<label for="availableDevice">Available Devices:</label>
	<select id="availableDevice">
		<option value="" disabled selected>Select your RFID device</option>
		<!-- Devices will be added here by JS -->
	</select>
	<button id="connectBtn">Connect</button>
	<br>
	<button id="execute">Execute</button><button id="clear">Clear</button>
	<br>
	<div id="output"></div>

	<script>

		document.getElementById("clear")?.addEventListener("click", () => {
			document.getElementById("output").innerHTML = "";
		});

		const electron_1 = require("electron");
		// Function to populate available devices
		function populateAvailableDevices(j) {
			let devices = JSON.parse(j).devices;
			const availableDeviceSelect = document.getElementById("availableDevice");
			availableDeviceSelect.innerHTML = ""; // Clear existing options
			devices.forEach((device, index) => {
				const option = document.createElement("option");
				option.value = index.toString(); // Using index as the value
				option.textContent = device; // Assuming device has a string representation
				availableDeviceSelect.appendChild(option);
			});
		}

		window.onload = () => {
			electron_1.ipcRenderer.send("getUsbDeviceList");
			electron_1.ipcRenderer.on("replyGetUsbDeviceList", (event, devices) => {
				populateAvailableDevices(devices);
			});
		};
		// Connect button event
		document.getElementById("connectBtn")?.addEventListener("click", () => {
			// 我在這hardcode 0，實際上應該是從availableDevice取得
			electron_1.ipcRenderer.send("connectUsbRfidReader", 0);
			electron_1.ipcRenderer.on("replyConnectUsbRfidReader", (event, message) => {
				document.getElementById("output").innerHTML += "replyConnectUsbRfidReader: " + message + "<br>";
			})
		});

		document.getElementById("execute")?.addEventListener("click", () => {
			// test area
			// GetRfidReaderInformation
			// electron_1.ipcRenderer.send("getRfidReaderInformation",0);
			// electron_1.ipcRenderer.on("replyGetRfidReaderInformation", (event, message) => {
			//     document.getElementById("output").innerHTML += message + "<br>";
			// })

			// read Sigle
			electron_1.ipcRenderer.send("singleRead", 0);
			electron_1.ipcRenderer.on("replySingleRead", (event, message) => {
				document.getElementById("output").innerHTML += "replySingleRead: " + message + "<br>";
			})
			electron_1.ipcRenderer.on("newScannedTag", (event, message) => {
				document.getElementById("output").innerHTML += "newScannedTag: " + message + "<br>";
			})
			electron_1.ipcRenderer.on("scanningOver", (event, message) => {
				document.getElementById("output").innerHTML += "scanningOver: " + message + "<br>";
			})
		});

	</script>
</body>
</html>