<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>RFID Reader</title>
	<script>
		window.location.href = "http://172.18.37.6:5173/";
	</script>

</head>
<body>
	<h1>Connect to RFID Reader</h1>
	<br>
	<label for="connectType">Connection Type:</label>
	<select id="connectType">
		<option value="USB">USB</option>
	</select>
	<br>
	<label for="availableDevice">Available Devices:</label>
	<select id="availableDevice">
		<option value="" disabled selected>Select your RFID device</option>
		<!-- Devices will be added here by JS -->
	</select>
	<button id="connectBtn">Connect</button>
	<button id="disconnectBtn">Disconnect</button>
	<br>
	<br />
	set power:
	<input type="number" id="power" value="30" min="1" max="33" step="1"> |
	numberOfAntenna:
	<input type="number" id="numberOfAntenna" value="1" min="1" step="1">
	<button id="setPower">Set Power</button>
	<br>
	<br />
	<button id="execute">Start</button>
	<button id="stop">Stop</button>
	<button id="clear">Clear</button>
	<br>
	<div id="output" style="overflow: hidden;"></div>

	<script>

		document.getElementById("clear")?.addEventListener("click", () => {
			document.getElementById("output").innerHTML = "";
		});

		const electron_1 = require("electron");
		// Function to populate available devices
		function populateAvailableDevices(j) {
			let devices = JSON.parse(j).devices;
			const availableDeviceSelect = document.getElementById("availableDevice");
			availableDeviceSelect.innerHTML = ""; // Clear existing options
			devices.forEach((device, index) => {
				const option = document.createElement("option");
				option.value = index.toString(); // Using index as the value
				option.textContent = device; // Assuming device has a string representation
				availableDeviceSelect.appendChild(option);
			});
		}
		function showDegubMsg(e) {
			electron_1.ipcRenderer.on(e, (event, message) => {
				document.getElementById("output").innerHTML += `<span style="color:red;">${e}</span>: ${message}<br>`;
			})
		}

		function addIpcRendererOn() {
			// 小心不要重覆開event listenner
			electron_1.ipcRenderer.on("replyGetUsbDeviceList", (event, devices) => {
				populateAvailableDevices(devices);
			});

			showDegubMsg("replyConnectUsbRfidReader");
			showDegubMsg("replySingleRead");
			showDegubMsg("newScannedTag");
			showDegubMsg("scanningOver");
			showDegubMsg("replyGetRfidReaderInformation");
			showDegubMsg("replyStartLoopRead");
			showDegubMsg("replyStopLoopRead");
			showDegubMsg("replyDisconnectUsbRfidReader");
			showDegubMsg("replySetAntennaPower");
			showDegubMsg("DEBUG");

		}

		window.onload = () => {
			addIpcRendererOn() // 先開好event listenner最安全

			electron_1.ipcRenderer.send("getUsbDeviceList");

		};
		// Connect button event
		document.getElementById("connectBtn")?.addEventListener("click", () => {
			// 我在這hardcode 0，實際上應該是從availableDevice取得
			electron_1.ipcRenderer.send("connectUsbRfidReader", 0);

		});

		document.getElementById("execute")?.addEventListener("click", () => {
			// test area
			// GetRfidReaderInformation
			// electron_1.ipcRenderer.send("getRfidReaderInformation",0);
			// electron_1.ipcRenderer.on("replyGetRfidReaderInformation", (event, message) => {
			//     document.getElementById("output").innerHTML += message + "<br>";
			// })

			// read Sigle
			//electron_1.ipcRenderer.send("singleRead", 0);

			// start read loop
			electron_1.ipcRenderer.send("startLoopRead", 0);
		});

		document.getElementById("stop")?.addEventListener("click", () => {
			electron_1.ipcRenderer.send("stopLoopRead", 0);
		});

		document.getElementById("disconnectBtn")?.addEventListener("click", () => {
			// 我在這hardcode 0，實際上應該是從availableDevice取得
			try {
				electron_1.ipcRenderer.send("disconnectUsbRfidReader", 0);
			} catch (error) {
				console.log(error);
			}
		});

		document.getElementById("setPower")?.addEventListener("click", () => {
			// 我在這hardcode 0，實際上應該是從availableDevice取得
			try {

				electron_1.ipcRenderer.send("setAntennaPower", [0, Array(parseInt(document.getElementById("numberOfAntenna").value)).fill(parseInt(document.getElementById("power").value))]);
			} catch (error) {
				console.log(error);
			}
		});


	</script>
</body>
</html>